*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue:hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url("./assets/images/bg-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container__box{
    background-color: var(--dark-blue);
    width: 85%;
    margin-bottom: 1.5rem;
}
.container__box__logo{
    width: 60%;
    height: auto;
    margin-bottom: 2.5rem;
}
.container__box--content{
    padding: 3rem;
}
.one{
    height: 30%;
    border-radius: 10px 40px 10px 10px;
}
.two{
    height: 24%;
    border-radius: 10px 10px 10px 10px;
}
.icons__box{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.icons__box--container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 3.8rem;
    border-radius: 8px;
    background-color: var(--very-dark-blue);
}
.document{
    width: 1.8rem;
}
.folder{
    width: 2rem;
}
.upload{
    width: 2.4rem;
}